parameters:
    level: max
    paths:
        - src
        - tests
        - config
        - public
    excludePaths:
        analyse:
            - vendor
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: false
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
